.icon {
  top: 13px;
  left: 13px;
  color: #b7b7b7 !important;
  z-index: 1000;
}

.serach-input::placeholder {
  color: #b7b7b7;
  font-size: 14px;
  font-weight: 400;
}

.serach-input {
  padding-left: 2.3rem;
  border-color: transparent;
}

.bg-secondary {
  background-color: #e5e5e5e5 !important;
  background-color: #f0f0f0 !important;
}

.rounded {
  border-radius: 2rem !important;
}
